@layer reset, base, tokens, semantics, utilities, components, theme;

@import './base/reset.css';
@import './base/breakpoints.css';
@import './base/fonts.css';
@import './base/text.css';
@import './base/colors.css';
@import './base/rest.css';
@import './base/utilities.css';
@import './tokens/color-tokens.css';


@layer theme {
  :root {
    --theme-radius: var(--radius-3);
  }
}
