@layer reset, fonts, colors, utilities, components;

@import './base/reset.css';
@import './base/utilities.css';
@import './base/fonts.css';
@import './base/colorlkl;.;p;lol;alalas.css';
/* Theme comes next?s*/
