@layer reset, primitives, alias, semantic, components, utilities, theme;

@import './reset.css';
@import './fonts.css';
@import './primitives.css';
@import './typography-alias.css';
@import './utilities/general-utilities.css';
@import './utilities/typography-utilities.css';
@import './utilities/layout-utilities.css';
@import './theme.css';
@import './alias/color-alias.css'
