/* ------- BREAKPOINTS --------- */
/* These can't be used in media queries, just use them for reference */
@layer primitives {
	html {
		/* Small mobile */
		--breakpoint-1: 320px;

		/* Normal mobile */
		--breakpoint-2: 375px;

		/* Larger mobile */
		--breakpoint-3: 400px;

		/* Extra Small Tablet */
		--breakpoint-4: 500px;

		/* Small Tablet */
		--breakpoint-5: 600px;

		/* Tablet */
		--breakpoint-6: 768px;

		/* Large Tablet -> Extra Small Desktop */
		--breakpoint-7: 900px;

		/* Small Desktop */
		--breakpoint-8: 1020px;

		/* Desktop */
		--breakpoint-9: 1440px;

		/* Large Desktop */
		--breakpoint-10: 1600px;

		/* Extra Large Desktop  */
		--breakpoint-11: 2000px;
	}
}

/* ------- COLORS --------- */
/* https://tailwindcss.com/docs/colors */
@layer primitives {
	html {
		--color-red-0: oklch(97.1% 0.013 17.38);
		--color-red-1: oklch(93.6% 0.032 17.717);
		--color-red-2: oklch(88.5% 0.062 18.334);
		--color-red-3: oklch(80.8% 0.114 19.571);
		--color-red-4: oklch(70.4% 0.191 22.216);
		--color-red-5: oklch(63.7% 0.237 25.331);
		--color-red-6: oklch(57.7% 0.245 27.325);
		--color-red-7: oklch(50.5% 0.213 27.518);
		--color-red-8: oklch(44.4% 0.177 26.899);
		--color-red-9: oklch(39.6% 0.141 25.723);
		--color-red-10: oklch(25.8% 0.092 26.042);

		--color-orange-0: oklch(98% 0.016 73.684);
		--color-orange-1: oklch(95.4% 0.038 75.164);
		--color-orange-2: oklch(90.1% 0.076 70.697);
		--color-orange-3: oklch(83.7% 0.128 66.29);
		--color-orange-4: oklch(75% 0.183 55.934);
		--color-orange-5: oklch(70.5% 0.213 47.604);
		--color-orange-6: oklch(64.6% 0.222 41.116);
		--color-orange-7: oklch(55.3% 0.195 38.402);
		--color-orange-8: oklch(47% 0.157 37.304);
		--color-orange-9: oklch(40.8% 0.123 38.172);
		--color-orange-10: oklch(26.6% 0.079 36.259);

		--color-amber-0: oklch(98.7% 0.022 95.277);
		--color-amber-1: oklch(96.2% 0.059 95.617);
		--color-amber-2: oklch(92.4% 0.12 95.746);
		--color-amber-3: oklch(87.9% 0.169 91.605);
		--color-amber-4: oklch(82.8% 0.189 84.429);
		--color-amber-5: oklch(76.9% 0.188 70.08);
		--color-amber-6: oklch(66.6% 0.179 58.318);
		--color-amber-7: oklch(55.5% 0.163 48.998);
		--color-amber-8: oklch(47.3% 0.137 46.201);
		--color-amber-9: oklch(41.4% 0.112 45.904);
		--color-amber-10: oklch(27.9% 0.077 45.635);

		--color-yellow-0: oklch(98.7% 0.026 102.212);
		--color-yellow-1: oklch(97.3% 0.071 103.193);
		--color-yellow-2: oklch(94.5% 0.129 101.54);
		--color-yellow-3: oklch(90.5% 0.182 98.111);
		--color-yellow-4: oklch(85.2% 0.199 91.936);
		--color-yellow-5: oklch(79.5% 0.184 86.047);
		--color-yellow-6: oklch(68.1% 0.162 75.834);
		--color-yellow-7: oklch(55.4% 0.135 66.442);
		--color-yellow-8: oklch(47.6% 0.114 61.907);
		--color-yellow-9: oklch(42.1% 0.095 57.708);
		--color-yellow-10: oklch(28.6% 0.066 53.813);

		--color-lime-0: oklch(98.6% 0.031 120.757);
		--color-lime-1: oklch(96.7% 0.067 122.328);
		--color-lime-2: oklch(93.8% 0.127 124.321);
		--color-lime-3: oklch(89.7% 0.196 126.665);
		--color-lime-4: oklch(84.1% 0.238 128.85);
		--color-lime-5: oklch(76.8% 0.233 130.85);
		--color-lime-6: oklch(64.8% 0.2 131.684);
		--color-lime-7: oklch(53.2% 0.157 131.589);
		--color-lime-8: oklch(45.3% 0.124 130.933);
		--color-lime-9: oklch(40.5% 0.101 131.063);
		--color-lime-10: oklch(27.4% 0.072 132.109);

		--color-green-0: oklch(98.2% 0.018 155.826);
		--color-green-1: oklch(96.2% 0.044 156.743);
		--color-green-2: oklch(92.5% 0.084 155.995);
		--color-green-3: oklch(87.1% 0.15 154.449);
		--color-green-4: oklch(79.2% 0.209 151.711);
		--color-green-5: oklch(72.3% 0.219 149.579);
		--color-green-6: oklch(62.7% 0.194 149.214);
		--color-green-7: oklch(52.7% 0.154 150.069);
		--color-green-8: oklch(44.8% 0.119 151.328);
		--color-green-9: oklch(39.3% 0.095 152.535);
		--color-green-10: oklch(26.6% 0.065 152.934);

		--color-emerald-0: oklch(97.9% 0.021 166.113);
		--color-emerald-1: oklch(95% 0.052 163.051);
		--color-emerald-2: oklch(90.5% 0.093 164.15);
		--color-emerald-3: oklch(84.5% 0.143 164.978);
		--color-emerald-4: oklch(76.5% 0.177 163.223);
		--color-emerald-5: oklch(69.6% 0.17 162.48);
		--color-emerald-6: oklch(59.6% 0.145 163.225);
		--color-emerald-7: oklch(50.8% 0.118 165.612);
		--color-emerald-8: oklch(43.2% 0.095 166.913);
		--color-emerald-9: oklch(37.8% 0.077 168.94);
		--color-emerald-10: oklch(26.2% 0.051 172.552);

		--color-teal-0: oklch(98.4% 0.014 180.72);
		--color-teal-1: oklch(95.3% 0.051 180.801);
		--color-teal-2: oklch(91% 0.096 180.426);
		--color-teal-3: oklch(85.5% 0.138 181.071);
		--color-teal-4: oklch(77.7% 0.152 181.912);
		--color-teal-5: oklch(70.4% 0.14 182.503);
		--color-teal-6: oklch(60% 0.118 184.704);
		--color-teal-7: oklch(51.1% 0.096 186.391);
		--color-teal-8: oklch(43.7% 0.078 188.216);
		--color-teal-9: oklch(38.6% 0.063 188.416);
		--color-teal-10: oklch(27.7% 0.046 192.524);

		--color-cyan-0: oklch(98.4% 0.019 200.873);
		--color-cyan-1: oklch(95.6% 0.045 203.388);
		--color-cyan-2: oklch(91.7% 0.08 205.041);
		--color-cyan-3: oklch(86.5% 0.127 207.078);
		--color-cyan-4: oklch(78.9% 0.154 211.53);
		--color-cyan-5: oklch(71.5% 0.143 215.221);
		--color-cyan-6: oklch(60.9% 0.126 221.723);
		--color-cyan-7: oklch(52% 0.105 223.128);
		--color-cyan-8: oklch(45% 0.085 224.283);
		--color-cyan-9: oklch(39.8% 0.07 227.392);
		--color-cyan-10: oklch(30.2% 0.056 229.695);

		--color-sky-0: oklch(97.7% 0.013 236.62);
		--color-sky-1: oklch(95.1% 0.026 236.824);
		--color-sky-2: oklch(90.1% 0.058 230.902);
		--color-sky-3: oklch(82.8% 0.111 230.318);
		--color-sky-4: oklch(74.6% 0.16 232.661);
		--color-sky-5: oklch(68.5% 0.169 237.323);
		--color-sky-6: oklch(58.8% 0.158 241.966);
		--color-sky-7: oklch(50% 0.134 242.749);
		--color-sky-8: oklch(44.3% 0.11 240.79);
		--color-sky-9: oklch(39.1% 0.09 240.876);
		--color-sky-10: oklch(29.3% 0.066 243.157);

		--color-blue-0: oklch(97% 0.014 254.604);
		--color-blue-1: oklch(93.2% 0.032 255.585);
		--color-blue-2: oklch(88.2% 0.059 254.128);
		--color-blue-3: oklch(80.9% 0.105 251.813);
		--color-blue-4: oklch(70.7% 0.165 254.624);
		--color-blue-5: oklch(62.3% 0.214 259.815);
		--color-blue-6: oklch(54.6% 0.245 262.881);
		--color-blue-7: oklch(48.8% 0.243 264.376);
		--color-blue-8: oklch(42.4% 0.199 265.638);
		--color-blue-9: oklch(37.9% 0.146 265.522);
		--color-blue-10: oklch(28.2% 0.091 267.935);

		--color-indigo-0: oklch(96.2% 0.018 272.314);
		--color-indigo-1: oklch(93% 0.034 272.788);
		--color-indigo-2: oklch(87% 0.065 274.039);
		--color-indigo-3: oklch(78.5% 0.115 274.713);
		--color-indigo-4: oklch(67.3% 0.182 276.935);
		--color-indigo-5: oklch(58.5% 0.233 277.117);
		--color-indigo-6: oklch(51.1% 0.262 276.966);
		--color-indigo-7: oklch(45.7% 0.24 277.023);
		--color-indigo-8: oklch(39.8% 0.195 277.366);
		--color-indigo-9: oklch(35.9% 0.144 278.697);
		--color-indigo-10: oklch(25.7% 0.09 281.288);

		--color-violet-0: oklch(96.9% 0.016 293.756);
		--color-violet-1: oklch(94.3% 0.029 294.588);
		--color-violet-2: oklch(89.4% 0.057 293.283);
		--color-violet-3: oklch(81.1% 0.111 293.571);
		--color-violet-4: oklch(70.2% 0.183 293.541);
		--color-violet-5: oklch(60.6% 0.25 292.717);
		--color-violet-6: oklch(54.1% 0.281 293.009);
		--color-violet-7: oklch(49.1% 0.27 292.581);
		--color-violet-8: oklch(43.2% 0.232 292.759);
		--color-violet-9: oklch(38% 0.189 293.745);
		--color-violet-10: oklch(28.3% 0.141 291.089);

		--color-purple-0: oklch(97.7% 0.014 308.299);
		--color-purple-1: oklch(94.6% 0.033 307.174);
		--color-purple-2: oklch(90.2% 0.063 306.703);
		--color-purple-3: oklch(82.7% 0.119 306.383);
		--color-purple-4: oklch(71.4% 0.203 305.504);
		--color-purple-5: oklch(62.7% 0.265 303.9);
		--color-purple-6: oklch(55.8% 0.288 302.321);
		--color-purple-7: oklch(49.6% 0.265 301.924);
		--color-purple-8: oklch(43.8% 0.218 303.724);
		--color-purple-9: oklch(38.1% 0.176 304.987);
		--color-purple-10: oklch(29.1% 0.149 302.717);

		--color-fuchsia-0: oklch(97.7% 0.017 320.058);
		--color-fuchsia-1: oklch(95.2% 0.037 318.852);
		--color-fuchsia-2: oklch(90.3% 0.076 319.62);
		--color-fuchsia-3: oklch(83.3% 0.145 321.434);
		--color-fuchsia-4: oklch(74% 0.238 322.16);
		--color-fuchsia-5: oklch(66.7% 0.295 322.15);
		--color-fuchsia-6: oklch(59.1% 0.293 322.896);
		--color-fuchsia-7: oklch(51.8% 0.253 323.949);
		--color-fuchsia-8: oklch(45.2% 0.211 324.591);
		--color-fuchsia-9: oklch(40.1% 0.17 325.612);
		--color-fuchsia-10: oklch(29.3% 0.136 325.661);

		--color-pink-0: oklch(97.1% 0.014 343.198);
		--color-pink-1: oklch(94.8% 0.028 342.258);
		--color-pink-2: oklch(89.9% 0.061 343.231);
		--color-pink-3: oklch(82.3% 0.12 346.018);
		--color-pink-4: oklch(71.8% 0.202 349.761);
		--color-pink-5: oklch(65.6% 0.241 354.308);
		--color-pink-6: oklch(59.2% 0.249 0.584);
		--color-pink-7: oklch(52.5% 0.223 3.958);
		--color-pink-8: oklch(45.9% 0.187 3.815);
		--color-pink-9: oklch(40.8% 0.153 2.432);
		--color-pink-10: oklch(28.4% 0.109 3.907);

		--color-rose-0: oklch(96.9% 0.015 12.422);
		--color-rose-1: oklch(94.1% 0.03 12.58);
		--color-rose-2: oklch(89.2% 0.058 10.001);
		--color-rose-3: oklch(81% 0.117 11.638);
		--color-rose-4: oklch(71.2% 0.194 13.428);
		--color-rose-5: oklch(64.5% 0.246 16.439);
		--color-rose-6: oklch(58.6% 0.253 17.585);
		--color-rose-7: oklch(51.4% 0.222 16.935);
		--color-rose-8: oklch(45.5% 0.188 13.697);
		--color-rose-9: oklch(41% 0.159 10.272);
		--color-rose-10: oklch(27.1% 0.105 12.094);

		--color-slate-0: oklch(98.4% 0.003 247.858);
		--color-slate-1: oklch(96.8% 0.007 247.896);
		--color-slate-2: oklch(92.9% 0.013 255.508);
		--color-slate-3: oklch(86.9% 0.022 252.894);
		--color-slate-4: oklch(70.4% 0.04 256.788);
		--color-slate-5: oklch(55.4% 0.046 257.417);
		--color-slate-6: oklch(44.6% 0.043 257.281);
		--color-slate-7: oklch(37.2% 0.044 257.287);
		--color-slate-8: oklch(27.9% 0.041 260.031);
		--color-slate-9: oklch(20.8% 0.042 265.755);
		--color-slate-10: oklch(12.9% 0.042 264.695);

		--color-gray-0: oklch(98.5% 0.002 247.839);
		--color-gray-1: oklch(96.7% 0.003 264.542);
		--color-gray-2: oklch(92.8% 0.006 264.531);
		--color-gray-3: oklch(87.2% 0.01 258.338);
		--color-gray-4: oklch(70.7% 0.022 261.325);
		--color-gray-5: oklch(55.1% 0.027 264.364);
		--color-gray-6: oklch(44.6% 0.03 256.802);
		--color-gray-7: oklch(37.3% 0.034 259.733);
		--color-gray-8: oklch(27.8% 0.033 256.848);
		--color-gray-9: oklch(21% 0.034 264.665);
		--color-gray-10: oklch(13% 0.028 261.692);

		--color-zinc-0: oklch(98.5% 0 0);
		--color-zinc-1: oklch(96.7% 0.001 286.375);
		--color-zinc-2: oklch(92% 0.004 286.32);
		--color-zinc-3: oklch(87.1% 0.006 286.286);
		--color-zinc-4: oklch(70.5% 0.015 286.067);
		--color-zinc-5: oklch(55.2% 0.016 285.938);
		--color-zinc-6: oklch(44.2% 0.017 285.786);
		--color-zinc-7: oklch(37% 0.013 285.805);
		--color-zinc-8: oklch(27.4% 0.006 286.033);
		--color-zinc-9: oklch(21% 0.006 285.885);
		--color-zinc-10: oklch(14.1% 0.005 285.823);

		--color-neutral-0: oklch(98.5% 0 0);
		--color-neutral-1: oklch(97% 0 0);
		--color-neutral-2: oklch(92.2% 0 0);
		--color-neutral-3: oklch(87% 0 0);
		--color-neutral-4: oklch(70.8% 0 0);
		--color-neutral-5: oklch(55.6% 0 0);
		--color-neutral-6: oklch(43.9% 0 0);
		--color-neutral-7: oklch(37.1% 0 0);
		--color-neutral-8: oklch(26.9% 0 0);
		--color-neutral-9: oklch(20.5% 0 0);
		--color-neutral-10: oklch(14.5% 0 0);

		--color-stone-0: oklch(98.5% 0.001 106.423);
		--color-stone-1: oklch(97% 0.001 106.424);
		--color-stone-2: oklch(92.3% 0.003 48.717);
		--color-stone-3: oklch(86.9% 0.005 56.366);
		--color-stone-4: oklch(70.9% 0.01 56.259);
		--color-stone-5: oklch(55.3% 0.013 58.071);
		--color-stone-6: oklch(44.4% 0.011 73.639);
		--color-stone-7: oklch(37.4% 0.01 67.558);
		--color-stone-8: oklch(26.8% 0.007 34.298);
		--color-stone-9: oklch(21.6% 0.006 56.043);
		--color-stone-10: oklch(14.7% 0.004 49.25);

		--color-black: #000;
		--color-white: #fff;
	}
}
/* ------- FONT SIZE & LINE HEIGHTS --------- */
@layer primitives {
	html {
		/* 8px */
		--font-size-1: 0.5rem;
		---line-height-1: calc(1 / 0.65);
		/* 10px */
		--font-size-2: 0.625rem;
		---line-height-2: calc(1 / 0.7);
		/* 12px */
		--font-size-3: 0.75rem;
		---line-height-3: calc(1.25 / 0.75);
		/* 13px */
		--font-size-4: 0.8125rem;
		---line-height-4: calc(1.3 / 0.8);
		/* 14px */
		--font-size-5: 0.875rem;
		---line-height-5: calc(1.5 / 1);
		/* 16px */
		--font-size-6: 1rem;
		---line-height-6: calc(1.75 / 1.15);
		/* 18px */
		--font-size-7: 1.125rem;
		---line-height-7: calc(1.85 / 1.25);
		/* 20px */
		--font-size-8: 1.25rem;
		---line-height-8: calc(2 / 1.5);
		/* 24px */
		--font-size-9: 1.5rem;
		---line-height-9: calc(2 / 1.75);
		/* 30px */
		--font-size-10: 1.875rem;
		---line-height-10: calc(2 / 2);
		/* 36px */
		--font-size-11: 2.25rem;
		---line-height-11: 1;
		/* 48px */
		--font-size-12: 3rem;
		---line-height-12: 1;
		/* 60px */
		--font-size-13: 3.75rem;
		---line-height-13: 1;
		/* 72px */
		--font-size-14: 4.5rem;
		---line-height-14: 1;
		/* 96px */
		--font-size-15: 6rem;
		---line-height-15: 1;
		/* 128px */
		--font-size-16: 8rem;
		---line-height-16: 1;
		/* 144px */
		--font-size-17: 9rem;
		---line-height-17: 1;
		/* 160px */
		--font-size-18: 10rem;
		---line-height-18: 1;
	}
}
/* ------- LETTER SPACING --------- */
@layer primitives {
	html {
		--letter-spacing-tigher: -0.05em;
		--letter-spacing-tight: -0.025em;
		--letter-spacing-normal: 0em;
		--letter-spacing-wide: 0.025em;
		--letter-spacing-wider: 0.05em;
		--letter-spacing-widest: 0.1em;
	}
}
/* ------- LINE HEIGHT --------- */
@layer primitives {
	html {
		--leading-1: 1.25;
		--leading-2: 1.375;
		--leading-3: 1.5;
		--leading-4: 1.625;
		--leading-5: 2;
	}
}
/* ------- FONT WEIGHT --------- */
@layer primitives {
	html {
		--font-weight-1: 100;
		--font-weight-2: 200;
		--font-weight-3: 300;
		--font-weight-4: 400;
		--font-weight-5: 500;
		--font-weight-6: 600;
		--font-weight-7: 700;
		--font-weight-8: 800;
		--font-weight-9: 900;
	}
}
/* ------- ROUNDING --------- */
@layer primitives {
	html {
		--radius-0: 0;
		--radius-1: 0.125rem;
		--radius-2: 0.25rem;
		--radius-3: 0.375rem;
		--radius-4: 0.5rem;
		--radius-5: 0.75rem;
		--radius-6: 1rem;
		--radius-7: 1.5rem;
		--radius-8: 2rem;
		--radius-full: 62.5rem;
	}
}

/* ------- SPACING --------- */
@layer primitives {
	html {
		/* --default-spacing can be found in theme.css */
		--spacing: var(--default-spacing, 0.25rem);
		--spacing-0: 0px;
		--spacing-px: 1px;
		--spacing-1: calc(var(--spacing) * 1);
		--spacing-2: calc(var(--spacing) * 2);
		--spacing-3: calc(var(--spacing) * 3);
		--spacing-4: calc(var(--spacing) * 4);
		--spacing-5: calc(var(--spacing) * 5);
		--spacing-6: calc(var(--spacing) * 6);
		--spacing-7: calc(var(--spacing) * 7);
		--spacing-8: calc(var(--spacing) * 8);
		--spacing-9: calc(var(--spacing) * 9);
		--spacing-10: calc(var(--spacing) * 10);
		--spacing-11: calc(var(--spacing) * 11);
		--spacing-12: calc(var(--spacing) * 12);
		--spacing-13: calc(var(--spacing) * 13);
		--spacing-14: calc(var(--spacing) * 14);
		--spacing-15: calc(var(--spacing) * 15);
		--spacing-16: calc(var(--spacing) * 16);
		--spacing-17: calc(var(--spacing) * 17);
		--spacing-18: calc(var(--spacing) * 18);
		--spacing-19: calc(var(--spacing) * 19);
		--spacing-20: calc(var(--spacing) * 20);
		--spacing-24: calc(var(--spacing) * 24);
		--spacing-28: calc(var(--spacing) * 28);
		--spacing-32: calc(var(--spacing) * 32);
		--spacing-36: calc(var(--spacing) * 36);
		--spacing-40: calc(var(--spacing) * 40);
		--spacing-44: calc(var(--spacing) * 44);
		--spacing-48: calc(var(--spacing) * 48);
		--spacing-52: calc(var(--spacing) * 52);
		--spacing-56: calc(var(--spacing) * 56);
		--spacing-60: calc(var(--spacing) * 60);
		--spacing-64: calc(var(--spacing) * 64);
		--spacing-72: calc(var(--spacing) * 72);
		--spacing-80: calc(var(--spacing) * 80);
		--spacing-96: calc(var(--spacing) * 96);
	}
}
/* ------- BORDER --------- */
@layer primitives {
	html {
		--border-size-0: 0px;
		--border-size-half: 0.5px;
		--border-size-1: 1px;
		--border-size-2: 2px;
		--border-size-3: 3px;
		--border-size-4: 4px;
		--border-size-5: 5px;
		--border-size-6: 6px;
	}
}
/* ------- BLUR --------- */
@layer primitives {
	html {
		--blur-1: 4px;
		--blur-2: 8px;
		--blur-3: 12px;
		--blur-4: 16px;
		--blur-5: 24px;
		--blur-6: 40px;
		--blur-7: 64px;
	}
}
/* ------- ASPECT RATIO --------- */
@layer primitives {
	html {
		--aspect-square: 1 / 1;
		--aspect-video: 16 / 9;
	}
}
/* ------- ANIMATIONS --------- */
@layer primitives {
	html {
		--animate-spin: spin 1s linear infinite;
		--animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
		--animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
		--animate-bounce: bounce 1s infinite;

		@keyframes spin {
			to {
				transform: rotate(360deg);
			}
		}

		@keyframes ping {
			75%,
			100% {
				transform: scale(2);
				opacity: 0;
			}
		}

		@keyframes pulse {
			50% {
				opacity: 0.5;
			}
		}

		@keyframes bounce {
			0%,
			100% {
				transform: translateY(-25%);
				animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
			}

			50% {
				transform: none;
				animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
			}
		}
	}
}
