/* Custom Colors: These go on top of Tailwind's color system */
/* https://tailwindcss.com/docs/colors */

@layer alias {
  html {
    /*--color-violet-custom-0: oklch(98.8% 0.01 304.5deg);
    --color-violet-custom-1: oklch(96.82% 0.01 308.58deg);
    --color-violet-custom-2: oklch(93.88% 0.02 310.21deg);
    --color-violet-custom-3: oklch(90.69% 0.03 308.21deg);
    --color-violet-custom-4: oklch(87.73% 0.03 308.98deg);
    --color-violet-custom-5: oklch(84.47% 0.04 308.66deg);
    --color-violet-custom-6: oklch(77.15% 0.04 307.89deg);
    --color-violet-custom-7: oklch(69.74% 0.04 308.61deg);
    --color-violet-custom-8: oklch(61.83% 0.04 308.5deg);
    --color-violet-custom-9: oklch(53.97% 0.04 309.24deg);
    --color-violet-custom-10: oklch(45.73% 0.04 308.3deg);*/
  }
}

@layer theme {
  :root {
    color-scheme: light dark;

    body {
      color-scheme: light;
    }

    body:is([data-dark="true"]) {
      color-scheme: dark;
    }
  }

  html {
    /* Extending border width to include 0.5px -> predominantly the most used	border width in our projects */

    /* Spacing */
    --default-spacing: 0.25rem;

    /* Typography */
    --text-scaling: 1;
    --base-font-color: var(--color-surface-8);
    --base-font-color-dark: var(--color-surface-2);
    --base-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    --base-font-size: inherit;
    --base-line-height: inherit;
    --base-font-weight: inherit;
    --base-font-style: inherit;
    --base-letter-spacing: var(--tracking-tight);
    --heading-font-color: var(--color-surface-10);
    --heading-font-color-dark: var(--color-surface-0);
    --heading-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    --heading-font-weight: inherit;
    --heading-font-style: inherit;
    --heading-letter-spacing: var(--tracking-tight);
    --anchor-font-color: inherit;
    --anchor-font-color-dark: inherit;
    --anchor-font-family: inherit;
    --anchor-font-size: inherit;
    --anchor-line-height: inherit;
    --anchor-font-weight: inherit;
    --anchor-font-style: inherit;
    --anchor-letter-spacing: inherit;
    --anchor-text-decoration: inherit;
    --anchor-text-decoration-hover: underline;
    --anchor-text-decoration-active: inherit;
    --anchor-text-decoration-focus: inherit;

    /* Radius */
    --radius-base: var(--radius-3, 0.25rem);
    --radius-container: var(--radius-3, 0.25rem);

    /* Edges */
    --default-border-width: 1px;
    --default-divide-width: 1px;
    --default-ring-width: 1px;

    /* Animations */
    --animate-progress-linear-indeterminate-horizontal: progress-linear-indeterminate-horizontal 1.5s ease-in-out infinite;
    --animate-progress-linear-indeterminate-vertical: progress-linear-indeterminate-vertical 1.5s ease-in-out infinite;
    --animate-progress-circular-indeterminate: progress-circular-indeterminate 1.5s linear infinite;

    /* COLORS */

    --primary-1: var(--orange-1);
    --primary-2: var(--orange-2);
    --primary-3: var(--orange-3);
    --primary-4: var(--orange-4);
    --primary-5: var(--orange-5);
    --primary-6: var(--orange-6);
    --primary-7: var(--orange-7);
    --primary-8: var(--orange-8);
    --primary-9: var(--orange-9);
    --primary-10: var(--orange-10);
    --primary-11: var(--orange-11);
    --primary-12: var(--orange-12);

    --secondary-1: var(--violet-1);
    --secondary-2: var(--violet-2);
    --secondary-3: var(--violet-3);
    --secondary-4: var(--violet-4);
    --secondary-5: var(--violet-5);
    --secondary-6: var(--violet-6);
    --secondary-7: var(--violet-7);
    --secondary-8: var(--violet-8);
    --secondary-9: var(--violet-9);
    --secondary-10: var(--violet-10);
    --secondary-11: var(--violet-11);
    --secondary-12: var(--violet-12);

    --success-1: var(--green-1);
    --success-2: var(--green-2);
    --success-3: var(--green-3);
    --success-4: var(--green-4);
    --success-5: var(--green-5);
    --success-6: var(--green-6);
    --success-7: var(--green-7);
    --success-8: var(--green-8);
    --success-9: var(--green-9);
    --success-10: var(--green-10);
    --success-11: var(--green-11);
    --success-12: var(--green-12);

    --info-1: var(--sky-1);
    --info-2: var(--sky-2);
    --info-3: var(--sky-3);
    --info-4: var(--sky-4);
    --info-5: var(--sky-5);
    --info-6: var(--sky-6);
    --info-7: var(--sky-7);
    --info-8: var(--sky-8);
    --info-9: var(--sky-9);
    --info-10: var(--sky-10);
    --info-11: var(--sky-11);
    --info-12: var(--sky-12);

    --warning-1: var(--amber-1);
    --warning-2: var(--amber-2);
    --warning-3: var(--amber-3);
    --warning-4: var(--amber-4);
    --warning-5: var(--amber-5);
    --warning-6: var(--amber-6);
    --warning-7: var(--amber-7);
    --warning-8: var(--amber-8);
    --warning-9: var(--amber-9);
    --warning-10: var(--amber-10);
    --warning-11: var(--amber-11);
    --warning-12: var(--amber-12);

    --danger-1: var(--red-1);
    --danger-2: var(--red-2);
    --danger-3: var(--red-3);
    --danger-4: var(--red-4);
    --danger-5: var(--red-5);
    --danger-6: var(--red-6);
    --danger-7: var(--red-7);
    --danger-8: var(--red-8);
    --danger-9: var(--red-9);
    --danger-10: var(--red-10);
    --danger-11: var(--red-11);
    --danger-12: var(--red-12);

    --surface-1: var(--gray-1);
    --surface-2: var(--gray-2);
    --surface-3: var(--gray-3);
    --surface-4: var(--gray-4);
    --surface-5: var(--gray-5);
    --surface-6: var(--gray-6);
    --surface-7: var(--gray-7);
    --surface-8: var(--gray-8);
    --surface-9: var(--gray-9);
    --surface-10: var(--gray-10);
    --surface-11: var(--gray-11);
    --surface-12: var(--gray-12);

    /* Backgrounds */
    --body-background-color: var(--color-surface-0);
    --body-background-color-dark: var(--color-surface-10);
  }
}
