/*
   This file has all of the color tokens. Raw colors with no semantic layers.
*/

/*      🗿   */
@layer primitives {
  html {
    --col-red-0: oklch(97.1% 0.013 17.38);
    --col-red-1: oklch(93.6% 0.032 17.717);
    --col-red-2: oklch(88.5% 0.062 18.334);
    --col-red-3: oklch(80.8% 0.114 19.571);
    --col-red-4: oklch(70.4% 0.191 22.216);
    --col-red-5: oklch(63.7% 0.237 25.331);
    --col-red-6: oklch(57.7% 0.245 27.325);
    --col-red-7: oklch(50.5% 0.213 27.518);
    --col-red-8: oklch(44.4% 0.177 26.899);
    --col-red-9: oklch(39.6% 0.141 25.723);
    --col-red-10: oklch(25.8% 0.092 26.042);

    --col-orange-0: oklch(98% 0.016 73.684);
    --col-orange-1: oklch(95.4% 0.038 75.164);
    --col-orange-2: oklch(90.1% 0.076 70.697);
    --col-orange-3: oklch(83.7% 0.128 66.29);
    --col-orange-4: oklch(75% 0.183 55.934);
    --col-orange-5: oklch(70.5% 0.213 47.604);
    --col-orange-6: oklch(64.6% 0.222 41.116);
    --col-orange-7: oklch(55.3% 0.195 38.402);
    --col-orange-8: oklch(47% 0.157 37.304);
    --col-orange-9: oklch(40.8% 0.123 38.172);
    --col-orange-10: oklch(26.6% 0.079 36.259);

    --col-amber-0: oklch(98.7% 0.022 95.277);
    --col-amber-1: oklch(96.2% 0.059 95.617);
    --col-amber-2: oklch(92.4% 0.12 95.746);
    --col-amber-3: oklch(87.9% 0.169 91.605);
    --col-amber-4: oklch(82.8% 0.189 84.429);
    --col-amber-5: oklch(76.9% 0.188 70.08);
    --col-amber-6: oklch(66.6% 0.179 58.318);
    --col-amber-7: oklch(55.5% 0.163 48.998);
    --col-amber-8: oklch(47.3% 0.137 46.201);
    --col-amber-9: oklch(41.4% 0.112 45.904);
    --col-amber-10: oklch(27.9% 0.077 45.635);

    --col-yellow-0: oklch(98.7% 0.026 102.212);
    --col-yellow-1: oklch(97.3% 0.071 103.193);
    --col-yellow-2: oklch(94.5% 0.129 101.54);
    --col-yellow-3: oklch(90.5% 0.182 98.111);
    --col-yellow-4: oklch(85.2% 0.199 91.936);
    --col-yellow-5: oklch(79.5% 0.184 86.047);
    --col-yellow-6: oklch(68.1% 0.162 75.834);
    --col-yellow-7: oklch(55.4% 0.135 66.442);
    --col-yellow-8: oklch(47.6% 0.114 61.907);
    --col-yellow-9: oklch(42.1% 0.095 57.708);
    --col-yellow-10: oklch(28.6% 0.066 53.813);

    --col-lime-0: oklch(98.6% 0.031 120.757);
    --col-lime-1: oklch(96.7% 0.067 122.328);
    --col-lime-2: oklch(93.8% 0.127 124.321);
    --col-lime-3: oklch(89.7% 0.196 126.665);
    --col-lime-4: oklch(84.1% 0.238 128.85);
    --col-lime-5: oklch(76.8% 0.233 130.85);
    --col-lime-6: oklch(64.8% 0.2 131.684);
    --col-lime-7: oklch(53.2% 0.157 131.589);
    --col-lime-8: oklch(45.3% 0.124 130.933);
    --col-lime-9: oklch(40.5% 0.101 131.063);
    --col-lime-10: oklch(27.4% 0.072 132.109);

    --col-green-0: oklch(98.2% 0.018 155.826);
    --col-green-1: oklch(96.2% 0.044 156.743);
    --col-green-2: oklch(92.5% 0.084 155.995);
    --col-green-3: oklch(87.1% 0.15 154.449);
    --col-green-4: oklch(79.2% 0.209 151.711);
    --col-green-5: oklch(72.3% 0.219 149.579);
    --col-green-6: oklch(62.7% 0.194 149.214);
    --col-green-7: oklch(52.7% 0.154 150.069);
    --col-green-8: oklch(44.8% 0.119 151.328);
    --col-green-9: oklch(39.3% 0.095 152.535);
    --col-green-10: oklch(26.6% 0.065 152.934);

    --col-emerald-0: oklch(97.9% 0.021 166.113);
    --col-emerald-1: oklch(95% 0.052 163.051);
    --col-emerald-2: oklch(90.5% 0.093 164.15);
    --col-emerald-3: oklch(84.5% 0.143 164.978);
    --col-emerald-4: oklch(76.5% 0.177 163.223);
    --col-emerald-5: oklch(69.6% 0.17 162.48);
    --col-emerald-6: oklch(59.6% 0.145 163.225);
    --col-emerald-7: oklch(50.8% 0.118 165.612);
    --col-emerald-8: oklch(43.2% 0.095 166.913);
    --col-emerald-9: oklch(37.8% 0.077 168.94);
    --col-emerald-10: oklch(26.2% 0.051 172.552);

    --col-teal-0: oklch(98.4% 0.014 180.72);
    --col-teal-1: oklch(95.3% 0.051 180.801);
    --col-teal-2: oklch(91% 0.096 180.426);
    --col-teal-3: oklch(85.5% 0.138 181.071);
    --col-teal-4: oklch(77.7% 0.152 181.912);
    --col-teal-5: oklch(70.4% 0.14 182.503);
    --col-teal-6: oklch(60% 0.118 184.704);
    --col-teal-7: oklch(51.1% 0.096 186.391);
    --col-teal-8: oklch(43.7% 0.078 188.216);
    --col-teal-9: oklch(38.6% 0.063 188.416);
    --col-teal-10: oklch(27.7% 0.046 192.524);

    --col-cyan-0: oklch(98.4% 0.019 200.873);
    --col-cyan-1: oklch(95.6% 0.045 203.388);
    --col-cyan-2: oklch(91.7% 0.08 205.041);
    --col-cyan-3: oklch(86.5% 0.127 207.078);
    --col-cyan-4: oklch(78.9% 0.154 211.53);
    --col-cyan-5: oklch(71.5% 0.143 215.221);
    --col-cyan-6: oklch(60.9% 0.126 221.723);
    --col-cyan-7: oklch(52% 0.105 223.128);
    --col-cyan-8: oklch(45% 0.085 224.283);
    --col-cyan-9: oklch(39.8% 0.07 227.392);
    --col-cyan-10: oklch(30.2% 0.056 229.695);

    --col-sky-0: oklch(97.7% 0.013 236.62);
    --col-sky-1: oklch(95.1% 0.026 236.824);
    --col-sky-2: oklch(90.1% 0.058 230.902);
    --col-sky-3: oklch(82.8% 0.111 230.318);
    --col-sky-4: oklch(74.6% 0.16 232.661);
    --col-sky-5: oklch(68.5% 0.169 237.323);
    --col-sky-6: oklch(58.8% 0.158 241.966);
    --col-sky-7: oklch(50% 0.134 242.749);
    --col-sky-8: oklch(44.3% 0.11 240.79);
    --col-sky-9: oklch(39.1% 0.09 240.876);
    --col-sky-10: oklch(29.3% 0.066 243.157);

    --col-blue-0: oklch(97% 0.014 254.604);
    --col-blue-1: oklch(93.2% 0.032 255.585);
    --col-blue-2: oklch(88.2% 0.059 254.128);
    --col-blue-3: oklch(80.9% 0.105 251.813);
    --col-blue-4: oklch(70.7% 0.165 254.624);
    --col-blue-5: oklch(62.3% 0.214 259.815);
    --col-blue-6: oklch(54.6% 0.245 262.881);
    --col-blue-7: oklch(48.8% 0.243 264.376);
    --col-blue-8: oklch(42.4% 0.199 265.638);
    --col-blue-9: oklch(37.9% 0.146 265.522);
    --col-blue-10: oklch(28.2% 0.091 267.935);

    --col-indigo-0: oklch(96.2% 0.018 272.314);
    --col-indigo-1: oklch(93% 0.034 272.788);
    --col-indigo-2: oklch(87% 0.065 274.039);
    --col-indigo-3: oklch(78.5% 0.115 274.713);
    --col-indigo-4: oklch(67.3% 0.182 276.935);
    --col-indigo-5: oklch(58.5% 0.233 277.117);
    --col-indigo-6: oklch(51.1% 0.262 276.966);
    --col-indigo-7: oklch(45.7% 0.24 277.023);
    --col-indigo-8: oklch(39.8% 0.195 277.366);
    --col-indigo-9: oklch(35.9% 0.144 278.697);
    --col-indigo-10: oklch(25.7% 0.09 281.288);

    --col-violet-0: oklch(96.9% 0.016 293.756);
    --col-violet-1: oklch(94.3% 0.029 294.588);
    --col-violet-2: oklch(89.4% 0.057 293.283);
    --col-violet-3: oklch(81.1% 0.111 293.571);
    --col-violet-4: oklch(70.2% 0.183 293.541);
    --col-violet-5: oklch(60.6% 0.25 292.717);
    --col-violet-6: oklch(54.1% 0.281 293.009);
    --col-violet-7: oklch(49.1% 0.27 292.581);
    --col-violet-8: oklch(43.2% 0.232 292.759);
    --col-violet-9: oklch(38% 0.189 293.745);
    --col-violet-10: oklch(28.3% 0.141 291.089);

    --col-purple-0: oklch(97.7% 0.014 308.299);
    --col-purple-1: oklch(94.6% 0.033 307.174);
    --col-purple-2: oklch(90.2% 0.063 306.703);
    --col-purple-3: oklch(82.7% 0.119 306.383);
    --col-purple-4: oklch(71.4% 0.203 305.504);
    --col-purple-5: oklch(62.7% 0.265 303.9);
    --col-purple-6: oklch(55.8% 0.288 302.321);
    --col-purple-7: oklch(49.6% 0.265 301.924);
    --col-purple-8: oklch(43.8% 0.218 303.724);
    --col-purple-9: oklch(38.1% 0.176 304.987);
    --col-purple-10: oklch(29.1% 0.149 302.717);

    --col-fuchsia-0: oklch(97.7% 0.017 320.058);
    --col-fuchsia-1: oklch(95.2% 0.037 318.852);
    --col-fuchsia-2: oklch(90.3% 0.076 319.62);
    --col-fuchsia-3: oklch(83.3% 0.145 321.434);
    --col-fuchsia-4: oklch(74% 0.238 322.16);
    --col-fuchsia-5: oklch(66.7% 0.295 322.15);
    --col-fuchsia-6: oklch(59.1% 0.293 322.896);
    --col-fuchsia-7: oklch(51.8% 0.253 323.949);
    --col-fuchsia-8: oklch(45.2% 0.211 324.591);
    --col-fuchsia-9: oklch(40.1% 0.17 325.612);
    --col-fuchsia-10: oklch(29.3% 0.136 325.661);

    --col-pink-0: oklch(97.1% 0.014 343.198);
    --col-pink-1: oklch(94.8% 0.028 342.258);
    --col-pink-2: oklch(89.9% 0.061 343.231);
    --col-pink-3: oklch(82.3% 0.12 346.018);
    --col-pink-4: oklch(71.8% 0.202 349.761);
    --col-pink-5: oklch(65.6% 0.241 354.308);
    --col-pink-6: oklch(59.2% 0.249 0.584);
    --col-pink-7: oklch(52.5% 0.223 3.958);
    --col-pink-8: oklch(45.9% 0.187 3.815);
    --col-pink-9: oklch(40.8% 0.153 2.432);
    --col-pink-10: oklch(28.4% 0.109 3.907);

    --col-rose-0: oklch(96.9% 0.015 12.422);
    --col-rose-1: oklch(94.1% 0.03 12.58);
    --col-rose-2: oklch(89.2% 0.058 10.001);
    --col-rose-3: oklch(81% 0.117 11.638);
    --col-rose-4: oklch(71.2% 0.194 13.428);
    --col-rose-5: oklch(64.5% 0.246 16.439);
    --col-rose-6: oklch(58.6% 0.253 17.585);
    --col-rose-7: oklch(51.4% 0.222 16.935);
    --col-rose-8: oklch(45.5% 0.188 13.697);
    --col-rose-9: oklch(41% 0.159 10.272);
    --col-rose-10: oklch(27.1% 0.105 12.094);

    --col-slate-0: oklch(98.4% 0.003 247.858);
    --col-slate-1: oklch(96.8% 0.007 247.896);
    --col-slate-2: oklch(92.9% 0.013 255.508);
    --col-slate-3: oklch(86.9% 0.022 252.894);
    --col-slate-4: oklch(70.4% 0.04 256.788);
    --col-slate-5: oklch(55.4% 0.046 257.417);
    --col-slate-6: oklch(44.6% 0.043 257.281);
    --col-slate-7: oklch(37.2% 0.044 257.287);
    --col-slate-8: oklch(27.9% 0.041 260.031);
    --col-slate-9: oklch(20.8% 0.042 265.755);
    --col-slate-10: oklch(12.9% 0.042 264.695);

    --col-gray-0: oklch(98.5% 0.002 247.839);
    --col-gray-1: oklch(96.7% 0.003 264.542);
    --col-gray-2: oklch(92.8% 0.006 264.531);
    --col-gray-3: oklch(87.2% 0.01 258.338);
    --col-gray-4: oklch(70.7% 0.022 261.325);
    --col-gray-5: oklch(55.1% 0.027 264.364);
    --col-gray-6: oklch(44.6% 0.03 256.802);
    --col-gray-7: oklch(37.3% 0.034 259.733);
    --col-gray-8: oklch(27.8% 0.033 256.848);
    --col-gray-9: oklch(21% 0.034 264.665);
    --col-gray-10: oklch(13% 0.028 261.692);

    --col-zinc-0: oklch(98.5% 0 0);
    --col-zinc-1: oklch(96.7% 0.001 286.375);
    --col-zinc-2: oklch(92% 0.004 286.32);
    --col-zinc-3: oklch(87.1% 0.006 286.286);
    --col-zinc-4: oklch(70.5% 0.015 286.067);
    --col-zinc-5: oklch(55.2% 0.016 285.938);
    --col-zinc-6: oklch(44.2% 0.017 285.786);
    --col-zinc-7: oklch(37% 0.013 285.805);
    --col-zinc-8: oklch(27.4% 0.006 286.033);
    --col-zinc-9: oklch(21% 0.006 285.885);
    --col-zinc-10: oklch(14.1% 0.005 285.823);

    --col-neutral-0: oklch(98.5% 0 0);
    --col-neutral-1: oklch(97% 0 0);
    --col-neutral-2: oklch(92.2% 0 0);
    --col-neutral-3: oklch(87% 0 0);
    --col-neutral-4: oklch(70.8% 0 0);
    --col-neutral-5: oklch(55.6% 0 0);
    --col-neutral-6: oklch(43.9% 0 0);
    --col-neutral-7: oklch(37.1% 0 0);
    --col-neutral-8: oklch(26.9% 0 0);
    --col-neutral-9: oklch(20.5% 0 0);
    --col-neutral-10: oklch(14.5% 0 0);

    --col-stone-0: oklch(98.5% 0.001 106.423);
    --col-stone-1: oklch(97% 0.001 106.424);
    --col-stone-2: oklch(92.3% 0.003 48.717);
    --col-stone-3: oklch(86.9% 0.005 56.366);
    --col-stone-4: oklch(70.9% 0.01 56.259);
    --col-stone-5: oklch(55.3% 0.013 58.071);
    --col-stone-6: oklch(44.4% 0.011 73.639);
    --col-stone-7: oklch(37.4% 0.01 67.558);
    --col-stone-8: oklch(26.8% 0.007 34.298);
    --col-stone-9: oklch(21.6% 0.006 56.043);
    --col-stone-10: oklch(14.7% 0.004 49.25);

    --col-black: #000;
    --col-white: #fff;
  }
}
