@layer components {
	:root {
		/* Button */
		--btn-font-weight: var(--font-weight-5);
		--btn-deco-dot-size-small: 0.5rem;
		--btn-deco-dot-size-medium: 0.55rem;
		--btn-deco-dot-size-default: 0.6rem;
		--btn-deco-dot-size-large: 0.65rem;
		--btn-deco-dot-size-extra_large: 0.7rem;
	}
}
