@layer colors {
	:root {
		--col-gray-1: oklch(1.0000000000000002 0 none);
		--col-gray-2: oklch(0.9370488987176951 0 none);
		--col-gray-3: oklch(0.8483222133157919 0 none);
		--col-gray-4: oklch(0.7857637583004442 0 none);
		--col-gray-5: oklch(0.7251571669935564 0 none);
		--col-gray-6: oklch(0.663255002410531 0 none);
		--col-gray-7: oklch(0.6032473921145677 0 none);
		--col-gray-8: oklch(0.5417056664787456 0 none);
		--col-gray-9: oklch(0.4819314937343141 0 none);
		--col-gray-10: oklch(0.4676016850511952 0 none);
		--col-gray-11: oklch(0.45678199318143103 0 none);
		--col-gray-12: oklch(0.4422550585185069 0 none);
		--col-gray-13: oklch(0.42392648371120567 0 none);
		--col-gray-14: oklch(0.4016665194169638 0 none);
		--col-gray-15: oklch(0.37909358396702786 0 none);
		--col-gray-16: oklch(0.3484596543608461 0 none);
		--col-gray-17: oklch(0.31316712939792546 0 none);
		--col-gray-18: oklch(0.2809402269547256 0 none);
		--col-gray-19: oklch(0.24353474225450714 0 none);
		--col-gray-20: oklch(0.217786502463702 0 none);

		--col-orange-1: oklch(1.0000000000000002 0 none);
		--col-orange-2: oklch(0.9343757984279613 0.03392429170381275 35.899138053668764);
		--col-orange-3: oklch(0.8543172980516871 0.08077073642806933 35.81416405009353);
		--col-orange-4: oklch(0.7985614866244961 0.11967553521433222 39.72616289121238);
		--col-orange-5: oklch(0.744880230588064 0.16501784580025392 45.594775237903654);
		--col-orange-6: oklch(0.731573898947188 0.17542436299893405 45.13387499004973);
		--col-orange-7: oklch(0.7241564695814587 0.17808132739506266 44.019439020398075);
		--col-orange-8: oklch(0.690078438058208 0.16596351502203996 43.378100596305536);
		--col-orange-9: oklch(0.6525171357974621 0.15243382929420235 43.766388563212836);
		--col-orange-10: oklch(0.6085201499610731 0.138024146206887 43.43943906390487);
		--col-orange-11: oklch(0.5831936354473823 0.12980189761560754 43.61003752482032);
		--col-orange-12: oklch(0.5558558534931975 0.12266538764877292 43.52602385209099);
		--col-orange-13: oklch(0.5203429510135278 0.11411431510724537 43.130698825580225);
		--col-orange-14: oklch(0.4855752634937527 0.10697073429192196 42.90190733503595);
		--col-orange-15: oklch(0.44700435562587476 0.09777388439665288 43.804772561057305);
		--col-orange-16: oklch(0.4058049987366762 0.0892523554473842 43.88824483739495);
		--col-orange-17: oklch(0.36158757137935804 0.08187101736612948 43.52403241529701);
		--col-orange-18: oklch(0.314338618606319 0.07304468104043632 43.48312324154665);
		--col-orange-19: oklch(0.26527016262605735 0.06396897983991948 43.49012617389175);
		--col-orange-20: oklch(0.22393967513297383 0.05274451163859788 44.38818733026752);
	}
}
