/*
   This file has all of the color tokens. Raw colors with no semantic layers.
*/

@layer base {
	:root {
		--col-red-50: oklch(97.1% 0.013 17.38);
		--col-red-100: oklch(93.6% 0.032 17.717);
		--col-red-200: oklch(88.5% 0.062 18.334);
		--col-red-300: oklch(80.8% 0.114 19.571);
		--col-red-400: oklch(70.4% 0.191 22.216);
		--col-red-500: oklch(63.7% 0.237 25.331);
		--col-red-600: oklch(57.7% 0.245 27.325);
		--col-red-700: oklch(50.5% 0.213 27.518);
		--col-red-800: oklch(44.4% 0.177 26.899);
		--col-red-900: oklch(39.6% 0.141 25.723);
		--col-red-950: oklch(25.8% 0.092 26.042);

		--col-orange-50: oklch(98% 0.016 73.684);
		--col-orange-100: oklch(95.4% 0.038 75.164);
		--col-orange-200: oklch(90.1% 0.076 70.697);
		--col-orange-300: oklch(83.7% 0.128 66.29);
		--col-orange-400: oklch(75% 0.183 55.934);
		--col-orange-500: oklch(70.5% 0.213 47.604);
		--col-orange-600: oklch(64.6% 0.222 41.116);
		--col-orange-700: oklch(55.3% 0.195 38.402);
		--col-orange-800: oklch(47% 0.157 37.304);
		--col-orange-900: oklch(40.8% 0.123 38.172);
		--col-orange-950: oklch(26.6% 0.079 36.259);

		--col-amber-50: oklch(98.7% 0.022 95.277);
		--col-amber-100: oklch(96.2% 0.059 95.617);
		--col-amber-200: oklch(92.4% 0.12 95.746);
		--col-amber-300: oklch(87.9% 0.169 91.605);
		--col-amber-400: oklch(82.8% 0.189 84.429);
		--col-amber-500: oklch(76.9% 0.188 70.08);
		--col-amber-600: oklch(66.6% 0.179 58.318);
		--col-amber-700: oklch(55.5% 0.163 48.998);
		--col-amber-800: oklch(47.3% 0.137 46.201);
		--col-amber-900: oklch(41.4% 0.112 45.904);
		--col-amber-950: oklch(27.9% 0.077 45.635);

		--col-yellow-50: oklch(98.7% 0.026 102.212);
		--col-yellow-100: oklch(97.3% 0.071 103.193);
		--col-yellow-200: oklch(94.5% 0.129 101.54);
		--col-yellow-300: oklch(90.5% 0.182 98.111);
		--col-yellow-400: oklch(85.2% 0.199 91.936);
		--col-yellow-500: oklch(79.5% 0.184 86.047);
		--col-yellow-600: oklch(68.1% 0.162 75.834);
		--col-yellow-700: oklch(55.4% 0.135 66.442);
		--col-yellow-800: oklch(47.6% 0.114 61.907);
		--col-yellow-900: oklch(42.1% 0.095 57.708);
		--col-yellow-950: oklch(28.6% 0.066 53.813);

		--col-lime-50: oklch(98.6% 0.031 120.757);
		--col-lime-100: oklch(96.7% 0.067 122.328);
		--col-lime-200: oklch(93.8% 0.127 124.321);
		--col-lime-300: oklch(89.7% 0.196 126.665);
		--col-lime-400: oklch(84.1% 0.238 128.85);
		--col-lime-500: oklch(76.8% 0.233 130.85);
		--col-lime-600: oklch(64.8% 0.2 131.684);
		--col-lime-700: oklch(53.2% 0.157 131.589);
		--col-lime-800: oklch(45.3% 0.124 130.933);
		--col-lime-900: oklch(40.5% 0.101 131.063);
		--col-lime-950: oklch(27.4% 0.072 132.109);

		--col-green-50: oklch(98.2% 0.018 155.826);
		--col-green-100: oklch(96.2% 0.044 156.743);
		--col-green-200: oklch(92.5% 0.084 155.995);
		--col-green-300: oklch(87.1% 0.15 154.449);
		--col-green-400: oklch(79.2% 0.209 151.711);
		--col-green-500: oklch(72.3% 0.219 149.579);
		--col-green-600: oklch(62.7% 0.194 149.214);
		--col-green-700: oklch(52.7% 0.154 150.069);
		--col-green-800: oklch(44.8% 0.119 151.328);
		--col-green-900: oklch(39.3% 0.095 152.535);
		--col-green-950: oklch(26.6% 0.065 152.934);

		--col-emerald-50: oklch(97.9% 0.021 166.113);
		--col-emerald-100: oklch(95% 0.052 163.051);
		--col-emerald-200: oklch(90.5% 0.093 164.15);
		--col-emerald-300: oklch(84.5% 0.143 164.978);
		--col-emerald-400: oklch(76.5% 0.177 163.223);
		--col-emerald-500: oklch(69.6% 0.17 162.48);
		--col-emerald-600: oklch(59.6% 0.145 163.225);
		--col-emerald-700: oklch(50.8% 0.118 165.612);
		--col-emerald-800: oklch(43.2% 0.095 166.913);
		--col-emerald-900: oklch(37.8% 0.077 168.94);
		--col-emerald-950: oklch(26.2% 0.051 172.552);

		--col-teal-50: oklch(98.4% 0.014 180.72);
		--col-teal-100: oklch(95.3% 0.051 180.801);
		--col-teal-200: oklch(91% 0.096 180.426);
		--col-teal-300: oklch(85.5% 0.138 181.071);
		--col-teal-400: oklch(77.7% 0.152 181.912);
		--col-teal-500: oklch(70.4% 0.14 182.503);
		--col-teal-600: oklch(60% 0.118 184.704);
		--col-teal-700: oklch(51.1% 0.096 186.391);
		--col-teal-800: oklch(43.7% 0.078 188.216);
		--col-teal-900: oklch(38.6% 0.063 188.416);
		--col-teal-950: oklch(27.7% 0.046 192.524);

		--col-cyan-50: oklch(98.4% 0.019 200.873);
		--col-cyan-100: oklch(95.6% 0.045 203.388);
		--col-cyan-200: oklch(91.7% 0.08 205.041);
		--col-cyan-300: oklch(86.5% 0.127 207.078);
		--col-cyan-400: oklch(78.9% 0.154 211.53);
		--col-cyan-500: oklch(71.5% 0.143 215.221);
		--col-cyan-600: oklch(60.9% 0.126 221.723);
		--col-cyan-700: oklch(52% 0.105 223.128);
		--col-cyan-800: oklch(45% 0.085 224.283);
		--col-cyan-900: oklch(39.8% 0.07 227.392);
		--col-cyan-950: oklch(30.2% 0.056 229.695);

		--col-sky-50: oklch(97.7% 0.013 236.62);
		--col-sky-100: oklch(95.1% 0.026 236.824);
		--col-sky-200: oklch(90.1% 0.058 230.902);
		--col-sky-300: oklch(82.8% 0.111 230.318);
		--col-sky-400: oklch(74.6% 0.16 232.661);
		--col-sky-500: oklch(68.5% 0.169 237.323);
		--col-sky-600: oklch(58.8% 0.158 241.966);
		--col-sky-700: oklch(50% 0.134 242.749);
		--col-sky-800: oklch(44.3% 0.11 240.79);
		--col-sky-900: oklch(39.1% 0.09 240.876);
		--col-sky-950: oklch(29.3% 0.066 243.157);

		--col-blue-50: oklch(97% 0.014 254.604);
		--col-blue-100: oklch(93.2% 0.032 255.585);
		--col-blue-200: oklch(88.2% 0.059 254.128);
		--col-blue-300: oklch(80.9% 0.105 251.813);
		--col-blue-400: oklch(70.7% 0.165 254.624);
		--col-blue-500: oklch(62.3% 0.214 259.815);
		--col-blue-600: oklch(54.6% 0.245 262.881);
		--col-blue-700: oklch(48.8% 0.243 264.376);
		--col-blue-800: oklch(42.4% 0.199 265.638);
		--col-blue-900: oklch(37.9% 0.146 265.522);
		--col-blue-950: oklch(28.2% 0.091 267.935);

		--col-indigo-50: oklch(96.2% 0.018 272.314);
		--col-indigo-100: oklch(93% 0.034 272.788);
		--col-indigo-200: oklch(87% 0.065 274.039);
		--col-indigo-300: oklch(78.5% 0.115 274.713);
		--col-indigo-400: oklch(67.3% 0.182 276.935);
		--col-indigo-500: oklch(58.5% 0.233 277.117);
		--col-indigo-600: oklch(51.1% 0.262 276.966);
		--col-indigo-700: oklch(45.7% 0.24 277.023);
		--col-indigo-800: oklch(39.8% 0.195 277.366);
		--col-indigo-900: oklch(35.9% 0.144 278.697);
		--col-indigo-950: oklch(25.7% 0.09 281.288);

		--col-violet-50: oklch(96.9% 0.016 293.756);
		--col-violet-100: oklch(94.3% 0.029 294.588);
		--col-violet-200: oklch(89.4% 0.057 293.283);
		--col-violet-300: oklch(81.1% 0.111 293.571);
		--col-violet-400: oklch(70.2% 0.183 293.541);
		--col-violet-500: oklch(60.6% 0.25 292.717);
		--col-violet-600: oklch(54.1% 0.281 293.009);
		--col-violet-700: oklch(49.1% 0.27 292.581);
		--col-violet-800: oklch(43.2% 0.232 292.759);
		--col-violet-900: oklch(38% 0.189 293.745);
		--col-violet-950: oklch(28.3% 0.141 291.089);

		--col-purple-50: oklch(97.7% 0.014 308.299);
		--col-purple-100: oklch(94.6% 0.033 307.174);
		--col-purple-200: oklch(90.2% 0.063 306.703);
		--col-purple-300: oklch(82.7% 0.119 306.383);
		--col-purple-400: oklch(71.4% 0.203 305.504);
		--col-purple-500: oklch(62.7% 0.265 303.9);
		--col-purple-600: oklch(55.8% 0.288 302.321);
		--col-purple-700: oklch(49.6% 0.265 301.924);
		--col-purple-800: oklch(43.8% 0.218 303.724);
		--col-purple-900: oklch(38.1% 0.176 304.987);
		--col-purple-950: oklch(29.1% 0.149 302.717);

		--col-fuchsia-50: oklch(97.7% 0.017 320.058);
		--col-fuchsia-100: oklch(95.2% 0.037 318.852);
		--col-fuchsia-200: oklch(90.3% 0.076 319.62);
		--col-fuchsia-300: oklch(83.3% 0.145 321.434);
		--col-fuchsia-400: oklch(74% 0.238 322.16);
		--col-fuchsia-500: oklch(66.7% 0.295 322.15);
		--col-fuchsia-600: oklch(59.1% 0.293 322.896);
		--col-fuchsia-700: oklch(51.8% 0.253 323.949);
		--col-fuchsia-800: oklch(45.2% 0.211 324.591);
		--col-fuchsia-900: oklch(40.1% 0.17 325.612);
		--col-fuchsia-950: oklch(29.3% 0.136 325.661);

		--col-pink-50: oklch(97.1% 0.014 343.198);
		--col-pink-100: oklch(94.8% 0.028 342.258);
		--col-pink-200: oklch(89.9% 0.061 343.231);
		--col-pink-300: oklch(82.3% 0.12 346.018);
		--col-pink-400: oklch(71.8% 0.202 349.761);
		--col-pink-500: oklch(65.6% 0.241 354.308);
		--col-pink-600: oklch(59.2% 0.249 0.584);
		--col-pink-700: oklch(52.5% 0.223 3.958);
		--col-pink-800: oklch(45.9% 0.187 3.815);
		--col-pink-900: oklch(40.8% 0.153 2.432);
		--col-pink-950: oklch(28.4% 0.109 3.907);

		--col-rose-50: oklch(96.9% 0.015 12.422);
		--col-rose-100: oklch(94.1% 0.03 12.58);
		--col-rose-200: oklch(89.2% 0.058 10.001);
		--col-rose-300: oklch(81% 0.117 11.638);
		--col-rose-400: oklch(71.2% 0.194 13.428);
		--col-rose-500: oklch(64.5% 0.246 16.439);
		--col-rose-600: oklch(58.6% 0.253 17.585);
		--col-rose-700: oklch(51.4% 0.222 16.935);
		--col-rose-800: oklch(45.5% 0.188 13.697);
		--col-rose-900: oklch(41% 0.159 10.272);
		--col-rose-950: oklch(27.1% 0.105 12.094);

		--col-slate-50: oklch(98.4% 0.003 247.858);
		--col-slate-100: oklch(96.8% 0.007 247.896);
		--col-slate-200: oklch(92.9% 0.013 255.508);
		--col-slate-300: oklch(86.9% 0.022 252.894);
		--col-slate-400: oklch(70.4% 0.04 256.788);
		--col-slate-500: oklch(55.4% 0.046 257.417);
		--col-slate-600: oklch(44.6% 0.043 257.281);
		--col-slate-700: oklch(37.2% 0.044 257.287);
		--col-slate-800: oklch(27.9% 0.041 260.031);
		--col-slate-900: oklch(20.8% 0.042 265.755);
		--col-slate-950: oklch(12.9% 0.042 264.695);

		--col-gray-50: oklch(98.5% 0.002 247.839);
		--col-gray-100: oklch(96.7% 0.003 264.542);
		--col-gray-200: oklch(92.8% 0.006 264.531);
		--col-gray-300: oklch(87.2% 0.01 258.338);
		--col-gray-400: oklch(70.7% 0.022 261.325);
		--col-gray-500: oklch(55.1% 0.027 264.364);
		--col-gray-600: oklch(44.6% 0.03 256.802);
		--col-gray-700: oklch(37.3% 0.034 259.733);
		--col-gray-800: oklch(27.8% 0.033 256.848);
		--col-gray-900: oklch(21% 0.034 264.665);
		--col-gray-950: oklch(13% 0.028 261.692);

		--col-zinc-50: oklch(98.5% 0 0);
		--col-zinc-100: oklch(96.7% 0.001 286.375);
		--col-zinc-200: oklch(92% 0.004 286.32);
		--col-zinc-300: oklch(87.1% 0.006 286.286);
		--col-zinc-400: oklch(70.5% 0.015 286.067);
		--col-zinc-500: oklch(55.2% 0.016 285.938);
		--col-zinc-600: oklch(44.2% 0.017 285.786);
		--col-zinc-700: oklch(37% 0.013 285.805);
		--col-zinc-800: oklch(27.4% 0.006 286.033);
		--col-zinc-900: oklch(21% 0.006 285.885);
		--col-zinc-950: oklch(14.1% 0.005 285.823);

		--col-neutral-50: oklch(98.5% 0 0);
		--col-neutral-100: oklch(97% 0 0);
		--col-neutral-200: oklch(92.2% 0 0);
		--col-neutral-300: oklch(87% 0 0);
		--col-neutral-400: oklch(70.8% 0 0);
		--col-neutral-500: oklch(55.6% 0 0);
		--col-neutral-600: oklch(43.9% 0 0);
		--col-neutral-700: oklch(37.1% 0 0);
		--col-neutral-800: oklch(26.9% 0 0);
		--col-neutral-900: oklch(20.5% 0 0);
		--col-neutral-950: oklch(14.5% 0 0);

		--col-stone-50: oklch(98.5% 0.001 106.423);
		--col-stone-100: oklch(97% 0.001 106.424);
		--col-stone-200: oklch(92.3% 0.003 48.717);
		--col-stone-300: oklch(86.9% 0.005 56.366);
		--col-stone-400: oklch(70.9% 0.01 56.259);
		--col-stone-500: oklch(55.3% 0.013 58.071);
		--col-stone-600: oklch(44.4% 0.011 73.639);
		--col-stone-700: oklch(37.4% 0.01 67.558);
		--col-stone-800: oklch(26.8% 0.007 34.298);
		--col-stone-900: oklch(21.6% 0.006 56.043);
		--col-stone-950: oklch(14.7% 0.004 49.25);

		--col-black: #000;
		--col-white: #fff;
	}
}
