/* INTER */
@font-face {
	font-family: 'Inter';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/inter/Inter-Italic-VariableFont_opsz-wght.woff2')
			format('woff2-variations'),
		url('https://seerstudio.b-cdn.net/web-fonts/inter/Inter-Italic-VariableFont_opsz-wght.woff')
			format('woff-variations');
	font-weight: 100 900; /* Adjust range if different */
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/inter/Inter-VariableFont_opsz-wght.woff2')
			format('woff2-variations'),
		url('https://seerstudio.b-cdn.net/web-fonts/inter/Inter-VariableFont_opsz-wght.woff')
			format('woff-variations');
	font-weight: 100 900; /* Adjust range if different */
	font-style: normal;
	font-display: swap;
}
