/*
   <<<<< IMPORT FONTS HERE 👇 >>>>>
*/

/* INTER */
@font-face {
	font-family: 'Inter';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/inter/Inter-Italic-VariableFont_opsz-wght.woff2')
			format('woff2-variations'),
		url('https://seerstudio.b-cdn.net/web-fonts/inter/Inter-Italic-VariableFont_opsz-wght.woff')
			format('woff-variations');
	font-weight: 100 900; /* Adjust range if different */
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/inter/Inter-VariableFont_opsz-wght.woff2')
			format('woff2-variations'),
		url('https://seerstudio.b-cdn.net/web-fonts/inter/Inter-VariableFont_opsz-wght.woff')
			format('woff-variations');
	font-weight: 100 900; /* Adjust range if different */
	font-style: normal;
	font-display: swap;
}

/* SPACE MONO */

/* Regular */
@font-face {
	font-family: 'Space Mono';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-Regular.woff2') format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Italic */
@font-face {
	font-family: 'Space Mono';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-Italic.woff2') format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

/* Bold */
@font-face {
	font-family: 'Space Mono';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-Bold.woff2') format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Bold Italic */
@font-face {
	font-family: 'Space Mono';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-BoldItalic.woff2')
			format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-BoldItalic.woff')
			format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/*
   <<<<< SET FONT VARIABLES & THEME HERE 👇 >>>>>
*/

@layer base {
	:root {
		--font-sans:
		'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
		--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
		--font-mono:
		'Space Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
	}
}