@layer base {
    :root {
        --rounding: 0.375rem;
        --border-size-1: 0.03125rem;
        --border-size-2: 0.0625rem;
        --border-size-3: 0.1875rem;
        --border-size-4: 0.25rem 
    }
}