/*
   This file has all of the text variables.
   @todo: Check if the line heights are correct by eye.
*/

@layer base {
  :root {
    /* 8px */
    --text-1: 0.5rem;
    --text-1-line-height: calc(1 / 0.65);
    /* 10px */
    --text-2: 0.625rem;
    --text-2-line-height: calc(1 / 0.7);
    /* 12px */
    --text-3: 0.75rem;
    --text-3-line-height: calc(1.25 / 0.75);
    /* 13px */
    --text-4: 0.8125rem;
    --text-4-line-height: calc(1.3 / 0.8);
    /* 14px */
    --text-5: 0.875rem;
    --text-5-line-height: calc(1.5 / 1);
    /* 16px */
    --text-6: 1rem;
    --text-6-line-height: calc(1.75 / 1.15);
    /* 18px */
    --text-7: 1.125rem;
    --text-7-line-height: calc(1.85 / 1.25);
    /* 20px */
    --text-8: 1.25rem;
    --text-8-line-height: calc(2 / 1.5);
    /* 24px */
    --text-9: 1.5rem;
    --text-9-line-height: calc(2 / 1.75);
    /* 30px */
    --text-10: 1.875rem;
    --text-10-line-height: calc(2 / 2);
    /* 36px */
    --text-11: 2.25rem;
    --text-11-line-height: 1;
    /* 48px */
    --text-12: 3rem;
    --text-12-line-height: 1;
    /* 60px */
    --text-13: 3.75rem;
    --text-13-line-height: 1;
    /* 72px */
    --text-14: 4.5rem;
    --text-14-line-height: 1;
    /* 96px */
    --text-15: 6rem;
    --text-15-line-height: 1;
    /* 128px */
    --text-16: 8rem;
    --text-16-line-height: 1;
    /* 144px */
    --text-17: 9rem;
    --text-17-line-height: 1;
    /* 160px */
    --text-18: 10rem;
    --text-18-line-height: 1;

    /* Room for improvement, for now i just essentially copied tailwind's system */

    --tracking-1: -0.05em;
    --tracking-2: -0.025em;
    --tracking-3: 0em;
    --tracking-4: 0.025em;
    --tracking-5: 0.05em;
    --tracking-6: 0.1em;

    --leading-1: 1.25;
    --leading-2: 1.375;
    --leading-3: 1.5;
    --leading-4: 1.625;
    --leading-5: 2;

    --font-weight-1: 100;
    --font-weight-2: 200;
    --font-weight-3: 300;
    --font-weight-4: 400;
    --font-weight-5: 500;
    --font-weight-6: 600;
    --font-weight-7: 700;
    --font-weight-8: 800;
    --font-weight-9: 900;
  }
}
